<div class="section-container">
    <div class="container-flex">
        <div class="centered-collection">
            <div class="inner-relative">
                <img src="{{ section.settings.collection_link | img_url: 'master'  }}" alt="collection" class="img-absolute">
            </div>
            <h3 class="collection-name">{{ section.settings.collection_tite }}</h3>
            <a href="{{ section.settings.collection_link }}" class="collection-link-button">{{ section.settings.button_text }}</a>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "collection link",
        "class": "collection-link",
        "settings": [
            {
                "type": "image_picker",
                "id": "bg_img",
                "label": "background image"
            },
            {
                "type": "text",
                "id": "collection_tite",
                "label": "collection title",
                "default": "title"
            },
            {
                "type": "url",
                "id": "collection_link",
                "label": "collection link"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "button text"
            }
        ],
        "presets": [
            {
                "category": "collections",
                "name": "collection link"
            }
        ]
    }
{% endschema %}
