<div class="section-container">
    <div class="container-flex">
        {% for block in section.blocks %}
            <div class="logo-container">
                <img class="logo-src" src="{{ block.settings.logo | img_url: 'master'  }}" alt="logo">
                <p class="logo-text content-{{ section.settings.content_size }}">{{ block.settings.logo_text }}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
    {
        "name": "collection link",
        "class": "collection-link",
        "max_blocks": 4,
        "blocks": [
            {
                "type": "text",
                "name": "logo",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "logo",
                        "label": "logo"
                    },
                    {
                        "type": "text",
                        "id": "logo_text",
                        "label": "logo text",
                        "default": "text"
                    },
                    {
                        "type": "range",
                        "id": "content_size",
                        "min": 10,
                        "max": 18,
                        "default": 14,
                        "step": 2,
                        "label": "content size"
                    }
                ]

            }
        ],
        "presets": [
            {
                "category": "logos",
                "name": "Logo gallery"
            }
        ]
    }
{% endschema %}