<h1>hola</h1>
{% schema %}
    {
        "name": "new product",
        "class": "new-product",
        "settings": [
            {
                "type": "checkbox",
                "id": "hola_a",
                "default": true,
                "label": "qlq"
            }
        ]
    }
{% endschema %}