<div class="new-header">
    <div class="menu-container menu-links-1">
        <nav class="navbar-links">
            {% for link in linklists[section.settings.menu_linklist].links %}
                <div class="each-link">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </div>
            {% endfor %}
        </nav>
    </div>
    <div class="logo-header-container">
        <img width="{{ section.settings.logo_width }}" src="{{ section.settings.logo-img | img_url: 'master' }}" alt="logo">
    </div>
    <div class="items-container">
        {% comment %} <i class="fa-light fa-magnifying-glass"></i>
        <i class="mdi mdi-cards-heart-outline"></i>
        <i class="mdi mdi-account-outline"></i>
        <i class="mdi mdi-cart-outline"></i> {% endcomment %}
    </div>
</div>
{% schema %}
    {
        "name": "new-header",
        "class": "new-header-section",
        "settings": [
            {
                "type": "image_picker",
                "label": "logo",
                "id": "logo-img"
            },
            {
                "type": "image_picker",
                "id": "alt_logo",
                "label": "Contrast logo",
                "info": "Optional logo used when over the header slideshow and images."
            },
            {
                "type": "range",
                "id": "logo_width",
                "min": 50,
                "max": 250,
                "step": 5,
                "unit": "px",
                "label": "Maximum logo width",
                "info": "Logo height is restricted to 150px.",
                "default": 150
            },
            {
                "type": "header",
                "content": "Layout"
            },
            {
                "type": "checkbox",
                "id": "enable_sticky",
                "label": "Stick to top of screen on scroll",
                "default": true
            },
            {
                "type": "header",
                "content": "Navigation"
            },
            {
                "type": "link_list",
                "id": "menu_linklist",
                "label": "Menu",
                "default": "main-menu"
            }
        ]
    }
{% endschema %}